{% extends 'base.html' %}

{% block 'content' %}


    {% load static %}
<form id="like" method="post" action="{% url 'hitlike' myproduct.id %}">
        {% csrf_token %}
            <input type="hidden" />
    </form>

    <form id="dislike" method="post" action="{% url 'hitdislike' myproduct.id %}">
        {% csrf_token %}
            <input type="hidden" />
    </form>

    <form id="del" method="post" action=" {% url 'delete' myproduct.id %}">
        {% csrf_token %}
            <input type="hidden" />
     </form>

    <link href="{% static 'iconic/iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet"/>


<div class="container">

    <h3 class="h3">Product Details </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">

                        <img class="pic-1" src=" {{ myproduct.product_image.url }}" alt="Image here" width="400" height="200">
                        {{ myproduct.product_by }}
                        {{ myproduct.product_pubdate }}
                        {{ myproduct.product_url }}


                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>

                <div class="product-content">
                    <h2 class="title"><a href= {{ myproduct.product_url }}>{{ myproduct.product_name }}</a></h2>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <p class="add-to-cart" href=""> {{ myproduct.product_desc }}</p>

                    <a href="javascript:{document.getElementById('like').submit()}" onclick="">
                        <button class="btn btn-success" >  <span class="oi oi-thumb-up"> Like {{ myproduct.product_likes }}</span> </button>
                    </a>
                    <a href="javascript:{document.getElementById('dislike').submit()}" onclick="">
                    <button class="btn btn-success"> <span class="oi oi-thumb-down"> Dislike {{ myproduct.product_dislikes }}</span></button>

                </a>
                    <a href="javascript: {document.getElementById('del').submit()}" onclick=""><button class="btn btn-success"> <span class="oi oi-delete"> Delete</span></button></a>


                </div>
            </div>
        </div>

<hr>

    </div></div>

{% endblock %}